<div class="container text-center">
  <h1>収支一覧</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>日付</th>
          <th>種類</th>
          <th>金額</th>
          <th>カテゴリー</th>
        </tr>
      </thead>
      <tbody>
        <a href="">
          <% total_amount = 0%>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= format_date(transaction.transaction_date) %></td>
              <td><%= I18n.t("transaction_types.#{transaction.transaction_type}") %></td>
              <% if transaction.transaction_type == "income" %>
                <td><%= transaction.amount %> 円</td>
                <% total_amount += transaction.amount%>
              <% else %>
                <td>-<%= transaction.amount %> 円</td>
                <% total_amount -= transaction.amount%>
              <% end %>
              <td>
                <%= link_to "収支詳細", transaction_path(transaction)%>
              </td>
            </tr>
          <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>合計金額</th>
          <th></th>
          <th><%= total_amount %> 円</th>
      </tfoot>
    </table>
  </div>
</div>
