<div class="container text-center">
  <h1>収支一覧</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><i class="fas fa-calendar-alt"></i> 日付</th>
          <th><i class="fas fa-exchange-alt"></i> 種類</th>
          <th><i class="fas fa-yen-sign"></i> 金額</th>
          <th><i class="fas fa-sticky-note"></i> メモ</th>
        </tr>
      </thead>
      <tbody>
        <% total_amount = 0%>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= format_date(transaction.transaction_date) %></td>
            <td><%= I18n.t("transaction_types.#{transaction.transaction_type}") %></td>
            <% if transaction.transaction_type == "income" %>
              <td><%= transaction.amount %> 円</td>
              <% total_amount += transaction.amount%>
            <% else %>
              <td>-<%= transaction.amount %> 円</td>
              <% total_amount -= transaction.amount%>
            <% end %>
            <td><%= transaction.note %></td>
            <td>
              <div class="d-flex justify-content-center">
                <%= link_to "収支詳細", transaction_path(transaction), class: "btn btn-primary me-4"%>
                <%= button_to "削除", transaction_path(transaction), method: :delete, class: "btn btn-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>合計金額</th>
          <th></th>
          <th><%= total_amount %> 円</th>
        </tr>
      </tfoot>
    </table>
    <div class="pagination>
      <%= paginate @transactions, theme: 'bootstrap-5'%>
  </div>
</div>